gensim==3.8.3
Pillow==7.1.0
regex==2020.11.13
spacy==2.3.5
spacy-streamlit==0.1.0
streamlit==0.73.1
trafilatura==0.6.1
en-core-sci-sm @ https://s3-us-west-2.amazonaws.com/ai2-s2-scispacy/releases/v0.3.0/en_core_sci_sm-0.3.0.tar.gz
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-2.3.1/en_core_web_sm-2.3.1.tar.gz

